<div class="container">
  <h1>My Bookings</h1>

  <div class="cards">
    <% @bookings.each do |booking| %>
      <div class="car-card">
        <%= cl_image_tag booking.car.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="car-card-info-left">
          <div>
            <h2><%= booking.car.brand %></h2>
            <p>Rental Period: <%= booking.rental_days %> days</p>
            <p>Start date: <%=  booking.start_date%></p>
            <p>End date: <%=  booking.end_date%></p>
          </div>
          <div class="car-card-info-right">
            <%= link_to "Show booking details", booking_path(booking) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>




