<div class="container">
  <div class="car-info row">
    <div class="car-details col-md-8 ">
      <h1 id="booking-title">Booking confirmation: <strong><%= @booking.car.brand %></strong></h1>
      <p>Congratulations! Your booking is complete. <br> Please check if all information in the box to the right is correct.</p>
      <img src="https://source.unsplash.com/GDOGHRVhcME" id="img-booking">
    </div>
    <div class="booking-status col-md-4 position-sticky ">
      <div class="booking-status-title">
        <h4 class="border-bottom"><strong>Booking details</strong>  </h4>
      </div>
      <div class="booking-status-info">
        <p>Rental period: <%= @booking.rental_days %> days</p>
        <p>Start date: <%= @booking.start_date %></p>
        <p>End date: <%= @booking.end_date %></p>
        <p>Pick up location <%= @booking.car.location %></p>
      </div>
      <div class="total-price border-top">
        <p class="booking-status-price"><strong>Total amount:  <%= (@booking.car.price * @booking.rental_days) %>€</strong></p>
      </div>
      <div class="btn-red">
        <%= link_to "Go to my bookings", bookings_path, class: "submit-search-button"%>
      </div>
    </div>
  </div>
</div>


