<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/axTvnbgRlAk);">
  <div class="container">
    <h1>Book a car of <strong>your dream</strong>!</h1>
    <p>Select from awesome collection of unique cars</p>
  </div>
</div>

<div class="container">
  <% if @cars.present? %>
  <div class="cards">
    <% @cars.each do |car| %>
    <div class="car-card">
      <%= cl_image_tag car.photo.key, height: 300, width: 400, crop: :fill %>
      <div class="car-card-info-left">
        <div>
          <h2><%= car.brand %></h2>
          <p>👤 <%= car.capacity %></p>
          <p>🕹 <%= car.drive_train %></p>
        </div>
        <div class="car-card-info-right">
          <h2 class="car-card-pricing">Price: <%= car.price %>€</h2>
          <%= link_to "More details", car_path(car), class: "submit-search-button" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% else %>
  <h1 id="no-results">Sorry, we didn't find any cars matching your search</h1>
<% end %>
  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
<%= render 'shared/footer' %>
