<div class="container">
  <h1 id="car-show-title"><%= @car.brand %></h1>
  <div class="car-info row">
    <div class="car-details col-md-8">
      <% if @car.id == 15 %>
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/cd/2018_Nissan_Juke_Bose_Personal_Edition_1.6_Front.jpg" alt="" id="img-booking">
      <% elsif @car.id == 1%>
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/92/2009_Ford_F-150_XLT_SuperCrew.jpg" alt="" id="img-booking">
      <% elsif @car.id == 3%>
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/06/BMW_X1_%28E84%2C_Facelift%29_%E2%80%93_Frontansicht%2C_2._September_2012%2C_D%C3%BCsseldorf.jpg" alt="" id="img-booking">
      <% elsif @car.id == 4 %>
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/28/2017_Honda_CR-V_front_4.11.18.jpg" alt="" id="img-booking">
      <% elsif @car.id == 5 %>
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/2014_Honda_Accord_2.4_i-VTEC_sedan_%282016-01-07%29_01.jpg" alt="" id="img-booking">
      <% elsif @car.id == 6 %>
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Lincoln_MKS_--_01-13-2010.jpg" alt="" id="img-booking">
      <% elsif @car.id == 7%>
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/cb/Dodge_Durango_5.7_V8_Hemi_RT_%28III%29_%E2%80%93_Frontansicht%2C_17._September_2012%2C_D%C3%BCsseldorf.jpg" alt="" id="img-booking">
      <% elsif @car.id == 8%>
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Honda_Civic_Type_R_Customer_Racing_Study_IMG_0298.jpg" alt="" id="img-booking">
      <% elsif @car.id == 10%>
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/04/Toyota_Camry_SE_P4110367.jpg" alt="" id="img-booking">
      <% elsif @car.id == 12%>
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/e6/2003_Ford_Fiesta_Zetec_1.4_Front.jpg" alt="" id="img-booking">
      <% elsif @car.id == 13%>
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Audi_A5_II_2016.jpg" alt="" id="img-booking">
      <% elsif @car.id == 14%>
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c6/Buick_Encore_01_China_2014-04-14.jpg" alt="" id="img-booking">
      <% else %>
        <img src="https://source.unsplash.com/GDOGHRVhcME" id="img-booking">
      <% end %>
        <div id="car-specs">
        <h4><%= @car.kind.capitalize %></h4>
        <p>👤<%= @car.capacity %> passengers</p>
        <p>🕹<%= @car.drive_train.capitalize %></p>
      </div>
    </div>
    <div class="car-status col-md-4">
      <p>€<%= @car.price %> per day</p>
      <% if @car.online %>
        <i class="fas fa-car green"> - available</i>
      <% else %>
        <i class="fas fa-car red"> - unavailable</i>
      <% end %>
      <a class="booking-book-button " data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Book this car
      </a>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <%= render "bookings/form" %>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="car-description row">
    <p class="description-text col-md-7"><%= @car.description %> </p>
  </div>
      <br>
      <br>
      <h3><%= pluralize @car.reviews.size, "review" %></h3>
      <div id="reviews">
        <% if @car.reviews.blank? %>
          Be the first to leave a review for <strong><%= @car.brand %></strong>
        <% else %>
          <% @car.reviews.each do |review| %>
            <%= render 'reviews/show', review: review %>
          <% end %>
        <% end %>
      </div>

      <%= render 'reviews/form', car: @car, review: @review %>
      <br>
      <br>
</div>


