<div class="container">
  <div class="wrapper">
    <div class="car-details">
      <h1 id="booking-title"><strong><%= @car.brand%> <%=  @car.kind  %></strong></h1>
        <%= cl_image_tag @car.photo.key, height: 300, width: 500, crop: :fill, id: "img-car" %>
    </div>
    <div class="booking-status-box">
      <div class="booking-status-box-title">
        <h4 ><strong>Details</strong>  </h4>
        <p class="border-bottom"></p>
      </div>
      <div class="booking-status-info">
        <p>Price €<%= @car.price %> per day</p></p>
        <p>Pick up location <%= @car.location %></p>
        <% if @car.online %>
          <i class="fas fa-car green"> - available</i>
        <% else %>
          <i class="fas fa-car red"> - unavailable</i>
        <% end %>
      </div>

      <% if current_user.id != @car.user_id  %>
      <div class="button-collapse">
         <a class="booking-book-button " data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
         Book this car </a>

      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <%= render "bookings/form" %>
        </div>
      </div>
      <% end %>


      </div>
    </div>

    <div class="description-text">
      <h4><strong>Description</strong></h4>
      <p><%= @car.description %> </p>
    </div>
    <div class="review-text">
      <h4 id="review-count">Number of reviews: <%= @car.reviews.size%></h4>
    <div id="reviews">
      <% if @car.reviews.blank? %>
        <p>Be the first to leave a review for <strong><%= @car.brand %></strong></p>
      <% else %>
        <% @car.reviews.each do |review| %>
          <%= render 'reviews/show', review: review %>
        <% end %>
      <% end %>
    </div>
    <div class="review-button col-md-8">
      <%= render 'reviews/form', car: @car, review: @review%>
    </div>
    </div>
  </div>
</div>





